* {
    margin: 0;
    padding: 0;
  }




.container {

text-align: center;

}


html, body{ 
    font-family: 'Times New Roman', Times, serif;
    background-color: black;   
    
}

h1 {
   
    color: white;
    font-size: large;
    padding-left: 25px;
    margin-top: 25px;
    font-size: xx-large;
    

   
}

h2 { 
   
    color: white;
    font-size: medium;
    padding-left: 25px;
    margin-top: 25px;
    font-size: large;
    text-align: center;
   


}


#selectStateHelper {

    font-size: medium;
    color: rgb(185, 185, 185);
    margin-top: 2px;
}


#amountText {

    font-size: medium;
    color: rgb(185, 185, 185);
    margin-top: 2px;
}



p {
  color: white;
  margin-top: 15px;
  font-size: larger;
  text-align: center;
  
  

}

.fas {
    color: white;
    font-size: 45px;
    margin-top: 15px;
     
}

.far {

    color: white;
    font-size: 45px; 
    margin-left: 25px;
    margin-top: 15px;  
   
}


.fab {

    color: white;
    font-size: 45px; 
    margin-left: 25px;
    margin-top: 15px;  

}


input {
    width:100%;
    height: 40px;
    font-size: medium;
    
     }


form {

    justify-content: center;
    
}

#cartTotal {

    margin-top: 40px;
}

#state {
    
    margin-top: 25px;
}

#myForm {

    display: inline-block;
    margin-top: 30px; 

}

